@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap');

:root{
  --body: #a9f4d5c2;
  --header: #41B3A3;
  --header_shade1: #2c9e8f;
  --header_shade2: #a9f4d5;
  --text: #dfdddd;
  --text1: #35292d;
  --text2: #dfdddda0;
  --icon: #E27D60;
  --icon1: #E8A87C;
}

html{
  scroll-behavior: smooth;
  width: 100%;
  margin: 0px;
  border: 0px;
  padding: 0px;
}

*{
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  position: relative;
  margin: 0px;
  padding: 0px;
  border: 0px;
  background-color: var(--body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
}

.link, .link:hover{
  text-decoration: none;
  color: inherit;
}

/* Header */
.header{
  display: block;
  margin-bottom: 0;
  position: relative;
}

.header .header_content{
  display: flex;
  z-index: 0;
}

.header .header_content .header_left{
  width: 50%;
  margin: auto 0;
}

.header .header_content .header_left .header_left_content{
  float: left;
}

.header .header_content .header_left .header_left_content .link{
  text-decoration: none;
  color: var(--header_shade1);
  width: 100%;
}

.header .header_content .header_left .link h1{
  cursor: pointer;
  font-family: 'Special Elite', cursive;
  margin: 0;
  padding: 0.5em;
  font-size: 35px;
}

.header .header_content .header_right{
  width: 50%;
  margin: auto 0;
}

.header .header_content .header_right .header_right_content{
  float: right;
  margin-right: 1.5em;
  margin-bottom: 0.5em;
}

.header .header_content .header_right .header_right_content .link,
.header .header_content .header_right .header_right_content .link1{
  text-decoration: none;
  color: var(--header);
  cursor: pointer;
  margin: 0 10px;
  padding: 5px 15px;
  border-radius: 50%;
  transition: 0.2s;
}

.header .header_content .header_right .header_right_content a.nav-link{
  text-decoration: none;
  color: var(--header);
  cursor: pointer;
  margin: 0 10px;
  border-radius: 50%;
  transition: 0.2s;
}

.header .header_content .header_right .header_right_content .link:hover{
  background-color: var(--header);
  color: var(--icon1);
  transition: 0.3s;
}

.header .header_content .header_right .header_right_content .link i,
.header .header_content .header_right .header_right_content .link1 i{
  font-size: 30px;
}

/* Navigation Bar */
.navbar{
  display: flex;
  position: sticky;
  top: 0;
  padding: 0.5em 0;
  background-color: var(--header);
  z-index: 2;
}

.navbar .navbar_content{
  text-align: center;
  margin: 0 auto;
  line-height: 50px;
  list-style: none;
}

a.nav-link{
  margin: auto 1.5em;
  padding: 0 0.2em;
  color: var(--text);
  font-size: 16px;
  font-family: 'Roboto Slab', cursive;
  border-radius: 5px;
  transition: 0.1s ease;
}

a.nav-link:hover,
a.nav-link:focus{
  color: var(--header);
  background-color: var(--text);
  border-radius: 5px;
}

.dropdown-menu{
  background-color: var(--text);
}

/* Login */
.login_back{
  height: 100vh;
  position: relative;
  background-color: var(--text2);
}

.login_back:before{
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  opacity: 0.15;
  background-image: url('https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8OHx8fGVufDB8fHx8&w=1000&q=80');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.login{
  margin: 1.5em 0;
  font-family: 'Roboto Slab', cursive;
  position: relative;
}

.login_down{
  position: relative;
}

.login h1{
  margin: 0.5em 0;
  color: var(--header_shade1);
  font-weight: 700;
  text-align: center;
}

.login .form_element{
  margin: 2em 0;
  color: var(--text1);
}

.login .form_element .form_radio{
  margin-left: 2em;
}

.login .form_submit{
  text-align: center;
}

.login .form_submit button{
  background-color: #2c9e8f;
}

/* Home Content */
.home{
  width: 100%;
  margin: 10px auto;
  padding: 1em;
}

.search{
  text-align: center;
  align-items: center;
  line-height: 5px;
  margin-top: 1em;
}

.search input{
  width: 500px;
  padding: 0.5em;
  border-radius: 10px 1px 1px 10px;
  font-family: 'Roboto Slab', cursive;
}

.search button{
  border-radius: 1px 10px 10px 1px;
  font-family: 'Roboto Slab', cursive;
  padding: 0.39em;
  background-color: var(--icon1);
  transition: 0.6s;
}

.search button:hover{
  transition: 0.5s;
  background-color: var(--icon);
  color: white;
}

.search button i{
  font-size: 25px;
}

.search .visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.home .home_content{
  margin: 0.5em auto;
  padding: 2em 5em;
  display: block;
  font-family: 'Roboto Slab', cursive;
  color: var(--text1);
}

.home .home_content .book_sections{
  display: block;
  margin: 0 auto 1em auto;
  background-color: var(--text);
  border-radius: 5px;
  padding: 1em;
}

.home .home_content .book_sections .book_sections_title{
  width: 100%;
  display: inline-block;
  padding: 0.2em 0;
}

.home .home_content .book_sections .book_sections_title h2{
  float: left;
  margin: auto 0;
}

.home .home_content .book_sections .book_sections_title button{
  float: right;
  margin: auto 0;
}

.home .home_content .book_sections .book_sections_content{
  /* background-color: var(--text1); */
  padding: 0.5em;
  margin: 0 1.5em;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.search_page .book_card .card{
  margin: 2em 0;
}

.book_card:hover,
.search_page .book_card .card:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.2s;
}

.book_card .book_card_img{
  height: 14rem;
}

.search_page{
  margin: 2em;
  padding: 1em;
  display: flexbox;
  background-color: var(--header_shade2);
}

/* Book Page */
.book_details{
  margin: 5em auto;
  padding: 3em 5em;
  background-color: #eedfdfa4;
}

.book_details .book_details_content{
  display: flex;
}

.book_details .book_details_content .book_img{
  width: 280px;
  margin: 2em;
}

.book_details .book_details_content .book_img img{
  width: 100%;
}

.book_details .book_details_content .book_info,
.book_details .book_description,
.book_details .other_details{
  margin: 2em;
  font-family: 'Roboto Slab';
}

.book_details .book_details_content .book_info .book_title h2{
  font-weight: 800;
}

.book_details .book_details_content .book_info .book_title .book_rating i{
  color: #20dbac;
  font-size: 27px;
  margin: auto 0.25em;
}

.book_details .book_details_content .book_quantity{
  display: flex;
  margin: 2em 0;
}

.book_details .book_details_content .book_quantity p{
  margin: auto 1em auto 0;
  font-size: 18px;
  font-weight: 550;
  font-weight: bold;
}

.book_details .book_description h4,
.book_details .other_details h4{
  font-weight: 600;
}

.book_details .book_description p{
  text-align: justify;
  padding: 1rem;
}

.book_details .other_details{
  display: flex;
}

.book_details .other_details p{
  padding-left: 1rem;
  /* line-height: 8px; */
}

.book_details .other_details h4{
  padding-bottom: 1rem;
}

.book_details .other_details .details1{
  width: 40%;
}

.book_details .other_details .details1 p{
  line-height: 12px;
}

.book_details .other_details .details2{
  width: 60%;
}

/* Cart */
.cart{
  font-family: 'Roboto Slab';
}
.cart_display{
  padding: 2em;
}

.cart_display h1{
  font-weight: 900;
  margin-bottom: 1em;
}

.cart_display h2{
  font-weight: 700;
}

.cart_display .cart_item{
  padding: 1em;
  text-align: center;
  align-items: center;
  color: var(--text1);
}

.cart_display .cart_item img{
  width: 60px;
}

.cart_display .cart_item a{
  text-decoration: none;
  color: var(--text1);
  font-weight: 600;
}

.cart_display .cart_item i{
  color: var(--text1);
}

.cart_total p{
  margin: 0;
  color: var(--header_shade1);
  font-size: 25px;
  font-weight: bold;
}

.checkout_steps{
  font-family: 'Roboto Slab', cursive;
}

.checkout_steps .step .enabled{
  color: var(--icon);
  font-weight: 600;
}

/* Footer */
.footer{
  width: 100%;
  padding: 2em;
  background-color: var(--header);
  text-align: center;
  color: var(--text);
  font-family: 'Roboto Slab';
}

.footer i{
  margin: auto 0.5em;
  font-size: 1.5em;
  border-radius: 50%;
  padding: 0.1em 0.25em 0.25em 0.25em;
  cursor: pointer;
}

.footer i:hover{
  background-color: var(--text);
  color: var(--header);
}