@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap');

:root{
  --body: #a9f4d5c2;
  --header: #41B3A3;
  --header_shade1: #348b7f;
  --text: #dfdddd;
  --text1: #35292d;
  --icon: #E27D60;
  --icon1: #E8A87C;
}

html{
  scroll-behavior: smooth;
  width: 100%;
  margin: 0px;
  border: 0px;
  padding: 0px;
  /* overflow-x: hidden;  */
}

*{
  margin: 0;
  padding: 0;
  
}

body {
  width: 100%;
  position: relative;
  margin: 0px;
  padding: 0px;
  border: 0px;
  background-color: var(--body) !important;
  /* overflow-x: hidden; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
}

/* Header */
.header{
  display: block;
  /* position: sticky;
  top: 0; */
  margin-bottom: 0;
}

.header .header_content{
  display: flex;
  z-index: 0;
}

.header .header_content .header_left{
  width: 50%;
  margin: auto 0;
}

.header .header_content .header_left .header_left_content{
  float: left;
}

.header .header_content .header_left .header_left_content a{
  text-decoration: none;
  color: var(--header_shade1);
  width: 100%;
}

.header .header_content .header_left a h1{
  cursor: pointer;
  font-family: 'Special Elite', cursive;
  margin: 0;
  padding: 0.5em;
  font-size: 35px;
}

.header .header_content .header_right{
  width: 50%;
  margin: auto 0;
}

.header .header_content .header_right .header_right_content{
  float: right;
  margin-right: 1.5em;
  margin-bottom: 0.5em;
}

.header .header_content .header_right .header_right_content a{
  text-decoration: none;
  color: var(--header);
  cursor: pointer;
  margin: 0 10px;
  padding: 15px 15px;
  border-radius: 50%;
  transition: 0.2s;
}

.header .header_content .header_right .header_right_content a:hover{
  background-color: var(--header);
  color: var(--icon1);
  transition: 0.3s;
}

.header .header_content .header_right .header_right_content a i{
  font-size: 30px;
}

/* Navigation Bar */
.navbar{
  display: flex;
  position: sticky;
  top: 0;
  padding: 0.5em 0;
  background-color: var(--header);
  z-index: 2;
}

.navbar .navbar_content{
  text-align: center;
  margin: 0 auto;
  line-height: 50px;
  color: var(--body);
}

.navbar .navbar_content ul{
  list-style: none;
}

.navbar .navbar_content ul li{
  float: left;
  margin: 0 2.5em;
}

.navbar .navbar_content ul li a{
  text-decoration: none;
  color: var(--text);
  font-size: 18px;
  font-family: 'Roboto Slab';
  padding: 0.5em;
  border-radius: 10px;
  transition: 0.2s ease-in;
}

.navbar .navbar_content ul li a:hover{
  color: var(--header);
  background-color: var(--text);
  transition: 0.3s linear;
  border-radius: 0;
}

.navbar .navbar_content ul .genre{
  position: relative;
  margin-bottom: 0;
}

.navbar .navbar_content ul .genre:hover .genre_dropdown{
  display: block;
  visibility: visible;
  top: 45px;
}

.navbar .navbar_content ul .genre .genre_dropdown{
  background-color: #dfdddd;
  position: absolute;
  display: none;
  visibility: hidden;
  padding-left: 0;
}

.navbar .navbar_content ul .genre .genre_dropdown li{
  margin: 0;
  padding: 0 0.5em;
  width: 100%;
}

.navbar .navbar_content ul .genre .genre_dropdown li a{
  width: 100%;
  color: var(--text1);
  font-size: medium;
  transition: none;
}

.navbar .navbar_content ul .genre .genre_dropdown li:hover,
.navbar .navbar_content ul .genre .genre_dropdown li a:hover{
  background-color: #c0c0c0;
  transition: none;
}

/* Home Content */
.home{
  width: 100%;
  margin: 10px auto;
  padding: 1em;
}

.search{
  text-align: center;
  align-items: center;
  line-height: 5px;
}

.search input{
  width: 500px;
  padding: 0.5em;
  border-radius: 10px 1px 1px 10px;
  font-family: 'Roboto Slab', cursive;
}

.search button{
  border-radius: 1px 10px 10px 1px;
  font-family: 'Roboto Slab', cursive;
  padding: 0.39em;
  background-color: var(--icon1);
  transition: 0.6s;
}

.search button:hover{
  transition: 0.5s;
  background-color: var(--icon);
  color: white;
}

.search button i{
  font-size: 25px;
}

.search .visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.home .home_content{
  margin: 0.5em auto;
  padding: 2em 10em;
  display: block;
  font-family: 'Roboto Slab', cursive;
  color: var(--text1);
}

.home .home_content .book_sections{
  display: block;
  margin: 0 auto 3em auto;
  background-color: var(--text);
  border-radius: 5px;
  padding: 1em;
}

.home .home_content .book_sections .book_sections_title{
  width: 100%;
  display: inline-block;
  padding: 0.2em 0;
}

.home .home_content .book_sections .book_sections_title h2{
  float: left;
  margin: auto 0;
}

.home .home_content .book_sections .book_sections_title button{
  float: right;
  margin: auto 0;
}

.home .home_content .book_sections .book_sections_content{
  background-color: var(--text1);
  padding: 0.7em;
  margin: 0 1.5em;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.home .home_content .book_sections .book_sections_content .book_card_img{
  /* width: 13rem; */
  height: 14rem;
  background-color: rgb(81, 81, 81);
}

/* Footer */
.footer{
  width: 100%;
  padding: 2em;
  background-color: var(--header);
}